*{
  padding: 0%;
  margin: 0%;
}

#nav{
  display: flex;
  justify-content: space-evenly;
  background-color: green;
}

#nav h1{
  color: white;
}

#homeBox{
  display: flex; 
}
#users{
  width: 35%;
  height: auto;
  background-color: white;
}
/* body{
  overflow-y: hidden;
} */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(234, 15, 121);
}

body::-webkit-scrollbar-thumb {
  background: rgb(234, 15, 121);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(234, 15, 121);
}

@media(max-width:420){
  #users{
    width: 100%;
  }
  #homeBox{
    display: flex;
    flex-direction: column;
  }
}
